#regist {
		line-height:40px;
		border-color:#0A5CA7;
		
		width: 70%;
	}
	#regist td {
		align: right;
		border: 5px;
		font-size:20px;
		
	}
	#regist input {
		font-size:20px;
	}
	
	.error {
		width: 85%;
		display: none;
		margin-right: 1px;
		border: 0px;
		background-color: transparent;
		color: red;
		font-size:xx-small;
	}
	.right {
		height:30px;
		float: left;
		display: none;
		margin-left: 1px;
	}
	.wrong {
		height:30px;
		float: left;
		display: none;
		margin-left: 1px;
	}